/* Page Container */

body {
    background-color: var(--bg-primary);
}

.page-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;

}

/* Left Column */
.left-column {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Right Column */
.right-column {
    width: 100%;
    flex: 1;
}

/* Section Styles with Unique Background Colors */
.logo {
    height: 30px;
    background-color: #fff;
}

.title {
    padding-top: 26px;
    /* border: 1px solid orange; */
}

.description {}

.screenshot {
    background-color: #96ceb4;
    /* Green */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot img {
    max-width: 100%;
    height: auto;
}

/* Gradient Animation */
@keyframes rotateGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Scale Animation */
/* @keyframes scalePulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.98);
    }

    100% {
        transform: scale(1);
    }
} */

.ai-box {

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;

    border-top: 4px solid transparent;
    background:
        linear-gradient(45deg, #EDB151, #EA536A, #D999FA, #72B0F8, #C0CACB) border-box,
        black padding-box;
    background-size: 200% 200%;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
    transform-origin: center center;
    animation: rotateGradient 3s ease infinite, scalePulse 2s ease-in-out infinite;

    .content {
        background-color: var(--bg-secondary);
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

.ai-header {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;

    .ai-title {
        font-family: Avenir;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 20px;

    }
}

/* Progress SVG Rotation Animation */
@keyframes rotateProgress {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.revenue img {
    animation: rotateProgress 4s linear infinite;
}

/* Desktop breakpoint */
@media (min-width: 1024px) {
    .page-container {
        flex-direction: row;
        width: 1280px;
        height: 700px;
        margin: 0 auto;
        padding: 48px;
        gap: 48px;
        overflow: hidden;
    }

    .left-column {
        width: 50%;
        height: 100%;
        /* border: 1px solid red; */

        .logo {
            padding-bottom: 24px;
        }

        h1 {
            padding-bottom: 24px;
        }

        p {
            padding-bottom: 64px;
        }
    }

    .ai-box {
        height: 400px;
        border-radius: 24px;
        border: 4px solid transparent;

        .content {
            border-radius: 20px;
            padding: 32px;
            height: 100%;
            display: flex;
            flex-direction: column;

        }

        h2 {
            padding-bottom: 12px;
        }
    }

    .right-column {
        /* border: 1px solid red; */
        border-radius: 24px;
        overflow: hidden;
        width: 50%;
        height: 100%;
    }

    .screenshot {
        /* border: 1px solid red; */
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .ai-box {
        position: static;
        width: auto;
        z-index: auto;


    }

    .ai-thoughts {
        height: 200px;
        padding-right: 8px;
        overflow-y: hidden;
        /* border: 1px solid red; */

    }

    .revenue {
        padding-top: 15px;
        /* border: 3px solid rgb(0, 76, 255); */
    }

    .revline {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        /* border: 1px solid red; */
        padding-top: 12px;
        padding-bottom: 12px;

        &:first-of-type {
            border-bottom: 1px solid #eeeeee;
        }


        p {
            color: var(--fg-primary);
            margin: 0;
            padding-bottom: 0;
        }

        img {
            margin-left: 8px;
            vertical-align: middle;
        }

        .calc-container {
            display: flex;
            align-items: center;
            gap: 0;
            margin-left: auto;
        }
    }
}