/* Page Container */

body {
    background-color: var(--bg-primary);
}

.page-container {
    display: flex;
    flex-direction: column;
}


/* Desktop breakpoint */
@media (min-width: 1024px) {
    .page-container {}

    .preview {
        padding: 100px;
        display: flex;
        flex-direction: row;

        .visual {
            width: 280px;
            height: 556px;

            .mask {
                width: 242px;
                height: 526px;
                border-radius: 22px;
                overflow: scroll;

                left: 15px;
                top: 15px;
            }

            .mock {
                width: 242px;

            }

            .phone {
                position: relative;
                top: -540px;
                left: -15px;
                pointer-events: none;
            }
        }

        .text {
            width: 400px;
        }

    }


}